<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-6">
        <%= render 'shared/user_info', user: current_user %>
        <%= render 'shared/stats' %>
    </aside>
    <div class="col-sm-6">
      <%= link_to "マイページ", current_user, class: "btn btn-lg btn-primary" %>
      <%= link_to "写真を投稿する", new_post_path, class: "btn btn-lg btn-success" %>
    </div>
    <div class="col-sm-12">
      <h3>フォロワーの投稿</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="content">
      <h1>
        Welcome to the
        <h1>SharePhoto</h1>
      </h1>
      <p><%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %></p>
      <p><%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %></p>
    </div>
  </div>
<% end %>
