<% provide(:title, 'ユーザー検索') %>

<div class="row">
  <div class="search-form col-md-6 col-md-offset-3">
    <h1>ユーザー検索</h1>
    <%= form_with url: users_path, method: :get, local: true do |f| %>
      <%= f.text_field :name %>
      <%= f.submit "ユーザー検索", class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>
<h3 class = "users-count">
  ユーザー数 (<%= @users.count %>)
</h3>
<ul class="users">
  <%= render @users %>
</ul>
<div class="pagination-box">
  <%= will_paginate %>
</div>
