<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <button class="btn-link" id="picture-<%= @user.id %>" data-toggle = "modal" data-target = "#userModal-<%= @user.id %>">
      <div class="icon">
      <%= icon(@user, 200) %>
      </div>
    </button>
    <%= render 'users/user_modal' %>
  </aside>
  <div class="col-md-8">
    <h1>
      <%= @user.name %>
      <%= link_to "プロフィール 編集", edit_user_path(current_user), class: "btn btn-primary" if current_user?(@user) %>
      <%= render 'users/follow_form' if logged_in? %>
    </h1>
    <%= render 'shared/stats' %>
    <h2>
      <%= @user.user_name %>
    </h2>
    <%= simple_format(@user.introduction) %>
    <%= link_to @user.website, @user.website %>
  </div>
</div>
<div class="row">
  <% if @user.posts.any? %>
  <h3>Posts (<%= @user.posts.count %>)</h3>
  <ol class="posts">
    <%= render @posts %>
  </ol>
  <%= will_paginate @posts %>
  <% end %>
</div>
