<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <%= render 'shared/user_info', user: @user %>
    <%= render 'shared/stats' %>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <div class="pagination-box">
        <%= will_paginate %>
      </div>
    <% end %>
  </div>
</div>
