<% @user ||= current_user %>

<div class="stats">
  <a href="<%= followers_user_path(@user) %>">
    フォロワー
    <strong id="followers">
      <%= @user.followers.count %>
    </strong>
  </a>
  <a href="<%= following_user_path(@user) %>">
    フォロー
    <strong id="following">
       <%= @user.following.count %>
    </strong>
  </a>
  <a href="<%= user_path(@user) %>">
    投稿
    <strong>
       <%= @user.posts.count %>
    </strong>
  </a>
  <% if current_user?(@user) %>
    <a href="<%= liking_user_path(@user) %>">
      お気に入り
      <strong>
        <%= @user.liking.count %>
      </strong>
    </a>
  <% end %>
</div>
