<div class="modal" id="Modal-<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-header-content">
          <div class="icon">
            <%= icon(user, 50) %>
            <h4>
              <%= link_to user.name, user, class: "modal-close" %>
            </h4>
          </div>
        <div>
          <div class="modal-post-content">
            <%= simple_format(post.content) %>
          </div>
        </div>
        </div>
      </div>
      <div class="modal-body modal-close">
        <%= link_to image_tag(post.image), post  if post.image.attached? %>
        <div class="post-data">
          <span>
            お気に入り: <strong><%= post.likers.count %></strong>
          </span>
          <span>
            コメント:<strong><%= post.comments.count %></strong>
          </span>
          <span>
            <%= time_ago_in_words(post.created_at) %>前
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-lg-12">
          <%= link_to "詳細ページへ", post, class: "btn btn-lg btn-primary" %>
          <button type="button" class="btn btn-secondary btn-lg modal-close" data-dismiss="modal">閉じる</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$('.modal-close').on('click', function(e) {
  $("#Modal-<%= post.id %>").attr('style', 'display: none !important');
  $(".modal-backdrop").attr('style', 'display: none !important');
  $("body").attr('style', 'overflow: auto');
});
</script>
