<button class="garally" id="post-<%= post.id %>" data-toggle = "modal" data-target = "#Modal-<%= post.id %>">
  <%= image_tag post.display_image, alt: "post" if post.image.attached? %>
  <div class="likes row">
    <div class="col-xs-6">お気に入り
      <p><strong><%= post.likers.count %></strong></p>
    </div>
    <div class="col-xs-6">コメント
      <p><strong><%= post.comments.count %></strong></p>
    </div>
  </div>
</button>
<%= render 'posts/post_modal', post: post, user: post.user %>
